<div class="menu-container mt-5 mb-5">
    <button  class="backbtn" (click)="goBack()">Back</button>
    <div class="row">
        <div class="col-lg-4" *ngFor="let item of items">

            <div class="itembox mt-3 mb-3">
                <img src="{{item.image}}">
                <h1>{{item.heading}}</h1>
                <p>{{item.price}}</p>
                <p>{{item.Brand}}</p>
                <p>{{item.modelName}}</p>
                <p>{{item.includedComponents}}</p>
                <br/>
                <button  class="viewdetailbtn" (click)="viewDetails(item.id)" class="btn btn-primary">View Details</button>
                <!-- <a class="buybtn" >Buy Now &nbsp;<i class="bi bi-bag"></i></a> -->
            </div>
        </div>
    </div>

</div>