<div class="signup">
  <button mat-button color="primary" (click)="goBack()">Back</button>
  <div class="signup-container">
    <h1>Sign-Up</h1>
    <form (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Name" [(ngModel)]="formData.name" name="name" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput type="email" placeholder="Email" [(ngModel)]="formData.email" name="email" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput type="tel" placeholder="Phone" [(ngModel)]="formData.phone" name="phone" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput type="password" placeholder="Password" [(ngModel)]="formData.password" name="password" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput type="password" placeholder="Confirm Password" [(ngModel)]="formData.confirmPassword" name="confirmPassword" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Signup</button>
    </form>  
  </div>
</div>