<!-- <img src="../assets/Screenshot_2023-09-07_12.45.10-removebg-preview.png" width="220" height="100" alt="Logo"> -->

<div class="user">
  <div class="user-container" fxLayout="column" fxLayoutAlign="center center">
    <img src="../assets/logo.png" alt="Logo">
    <mat-icon class="user-icon" fxLayoutAlign="center center">account_circle</mat-icon>
    <!-- <h1>Select</h1> -->
    <p>----Already have an account?----</p>
    <button mat-raised-button color="primary" class="btn" (click)="navigateTo('login')">Already have an account</button>
    <p>-------New To BuyZaar?-------</p>
    <button mat-raised-button color="primary" class="btn" (click)="navigateTo('signup')">Create an user account</button>
  </div>  
</div>